/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
  width: 10px;    
  background-color: #FAFAFA;  
}  

/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
  /* width: 5px;
  border-radius: 5px; 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
  background-color: #D7D7D7;   */
  background-color:#D7D7D7!important;
  border:3px solid transparent!important;
  border-radius:6px!important;
  background-clip:content-box!important;
}  
/*定义最上方和最下方的按钮*/
/* ::-webkit-scrollbar-button{
  background-color: #FAFAFA;
} */

a {
  text-decoration: none;
}
* {
  transition: background .5s;
}

/* element-ui 样式适配 */
.el-dialog {
  border-radius: 10px;
}
.el-dialog__header {
  border-bottom: 1px solid #E8E8E8;
  padding: 20px;
}
.el-dialog__footer {
  border-top: 1px solid #E8E8E8;
  padding: 20px;
}
.el-dialog__title {
  font-size: 16px;
  color: #333333;
}
.el-form-item {
  margin-bottom: 28px;
}
.el-form-item__label {
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
}
.el-select {
  width: 100%;
}